body {
    padding: 0px;
    margin: 0px;
    background: #FFF;
    text-align: center;
}

#message {
    color: #000;
    text-align: center;
    font-family: impact;
}

#visualize {
    height: 60px;
    width: 100%;
    margin: 20px 0px;
}

#robot {
    text-align: center;
    display: inline-block;
}

#bubble-text {
    display: inline-block;
    position: relative;
    top: 25px;
    left: 120px;
    float: left;
    height: 80px;
    width: 90px;
    line-height: 80px;
    font-family: "Lucida Console", Monaco, monospace;
}

#robot img {
    width: 300px;
    float: left;
}
