[ { lagom
  , [{'google-api-key', <<"AIzaSyC5MZLnOSf2LKx8aCv-vVas4glaR13nvTQ">>}]
  }
, { lager
  , [ {log_root, "/var/log/lagom"}
    , {handlers, [ {lager_file_backend, [{file, "error.log"}, {level, error}]}
                 , {lager_file_backend, [{file, "console.log"}, {level, info}]}
                 ]
      }
    ]
  }
].
